# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_FUEL_GAUGE_VOLTAGE
    bool
    default DT_HAS_ZMK_FUEL_GAUGE_VOLTAGE_ENABLED
    select SENSOR
    select ZMK_BATTERY
    depends on FUEL_GAUGE
    help
        Enable battery voltage driver for battery monitoring.
