# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BATTERY_NRF_VDDH
    bool
    default DT_HAS_ZMK_BATTERY_NRF_VDDH_ENABLED
    select ADC
    select ZMK_BATTERY
    depends on FUEL_GAUGE
    help
        Enable ZMK nRF VDDH voltage driver for battery monitoring.
